# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# project files
.env
.env.example
.eslintrc
.prettierrc
test
DEVELOPMENT.md
jest.config.js
LICENSE
README.md
tsconfig.json
tsconfig.main.json
